body {
    font-family: "Montserrat";
  }
  
  h1 {
      font-family: "Montserrat-Black";
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
  }
  
  h2 {
    font-weight: 800;
    font-family: 'Red Rose', cursive;
    letter-spacing: .225em;
    line-height: 1em;
    margin: 0 0 1em;
    text-transform: uppercase;
  }
  
  h3 {
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    font-size: 2rem;
  }

  /* Navigation Bar */
  .navbar{
      background-color: transparent;
  }

  .navbar-brand {
    font-family: 'Red Rose', cursive;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 1.5rem;
    color: #ffb010 !important;
    margin-left: 80px;
  }

  .navbar-nav {
    margin-right: 80px;
  }
  
  .nav-item {
    padding: 0 18px;
    text-align: right !important;
  }

  .nav-link:hover{
    color: #ffb010 !important;
  }
  
  .nav-link {
    font-size: 1.1rem;  
  }

  .navbar-toggler{
      border: none;
  }

  .navbar-nav .active .nav-link{
      color: #ffb010 !important;
  }

  .brand-logo{
    border-radius: 5px;
  }


  body {
    padding: 12em 0 10em 0 ;
    background-image: -moz-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../images/banner.jpg");
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../images/banner.jpg");
    background-image: -ms-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../images/banner.jpg");
    background-image: linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../images/banner.jpg");
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    height: 80vh;
}

/* Banner */

#banner {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  cursor: default;
  height: 100vh;
  min-height: 35em;
  overflow: hidden;
  position: relative;
  text-align: center;
  top:-170px;
}

  #banner h2 {
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -moz-transition: -moz-transform 0.5s ease, opacity 0.5s ease;
    -webkit-transition: -webkit-transform 0.5s ease, opacity 0.5s ease;
    -ms-transition: -ms-transform 0.5s ease, opacity 0.5s ease;
    transition: transform 0.5s ease, opacity 0.5s ease;
    display: inline-block;
    font-size: 2rem;
    opacity: 1;
    padding: 0.35em 1em;
    position: relative;
    z-index: 1;
  }

    #banner h2:before, #banner h2:after {
      -moz-transition: width 0.85s ease;
      -webkit-transition: width 0.85s ease;
      -ms-transition: width 0.85s ease;
      transition: width 0.85s ease;
      -moz-transition-delay: 0.25s;
      -webkit-transition-delay: 0.25s;
      -ms-transition-delay: 0.25s;
      transition-delay: 0.25s;
      background: #ffb010;
      content: '';
      display: block;
      height: 2px;
      position: absolute;
      width: 100%;
    }

    #banner h2:before {
      top: 0;
      left: 0;
    }

    #banner h2:after {
      bottom: 0;
      right: 0;
    }

  #banner p {
    letter-spacing: 0.225em;
    text-transform: uppercase;
  }

    #banner p a {
      color: inherit;
    }

  #banner .more {
    -moz-transition: -moz-transform 0.75s ease, opacity 0.75s ease;
    -webkit-transition: -webkit-transform 0.75s ease, opacity 0.75s ease;
    -ms-transition: -ms-transform 0.75s ease, opacity 0.75s ease;
    transition: transform 0.75s ease, opacity 0.75s ease;
    -moz-transition-delay: 3.5s;
    -webkit-transition-delay: 3.5s;
    -ms-transition-delay: 3.5s;
    transition-delay: 3.5s;
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    border: none;
    bottom: 0;
    color: inherit;
    font-size: 0.8em;
    height: 8.5em;
    left: 50%;
    letter-spacing: 0.225em;
    margin-left: -8.5em;
    opacity: 1;
    outline: 0;
    padding-left: 0.225em;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    width: 16em;
    z-index: 1;
    color: white;
  }

    #banner .more:after {
      background-image: url("../images/arrow.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      bottom: 4em;
      content: '';
      display: block;
      height: 1.5em;
      left: 50%;
      margin: 0 0 0 -0.75em;
      position: absolute;
      width: 1.5em;
    }

  #banner:after {
    pointer-events: none;
    -moz-transition: opacity 3s ease-in-out;
    -webkit-transition: opacity 3s ease-in-out;
    -ms-transition: opacity 3s ease-in-out;
    transition: opacity 3s ease-in-out;
    -moz-transition-delay: 1.25s;
    -webkit-transition-delay: 1.25s;
    -ms-transition-delay: 1.25s;
    transition-delay: 1.25s;
    content: '';
    background: #2e3842;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }

  @media screen and (max-width: 736px) {

    #banner {
      padding: 7em 3em 5em 3em ;
      height: auto;
      min-height: 0;
    }

      #banner h2 {
        font-size: 1.25em;
      }

      #banner br {
        display: none;
      }

      #banner .more {
        display: none;
      }

  }

body.is-preload #banner h2 {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
  opacity: 0;
}

  body.is-preload #banner h2:before, body.is-preload #banner h2:after {
    width: 0;
  }

body.is-preload #banner .more {
  -moz-transform: translateY(8.5em);
  -webkit-transform: translateY(8.5em);
  -ms-transform: translateY(8.5em);
  transform: translateY(8.5em);
  opacity: 0;
}

body.is-preload #banner:after {
  opacity: 1;
}

.inner{
 
  text-align: center;
  color: #ffb010;
}

#brand-name {
  
  visibility: hidden;
}

  
/*About */
#about-us{
  background-color: whitesmoke;  
}

.card {
  border-top: none;
}

.card-body {
  padding-top: 0;
}

.card-img-block {
  width: 91%;
  margin: 0 auto;
  position: relative;
  top: -20px;
}

.card-img-top {
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.63);
}

#about-us .card-title {
  top: -20px
}

/*Service */
#service{
  background-color: #2e3842 ;
  color: white;
}

.service-row{
  margin-top: 5%;
}

.service-head {
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: .5px;
  text-transform: capitalize;
}

.service-content {
  font-size: 18px;
  letter-spacing: .5px;
  margin-bottom: 20px
}

.service-img{
  height: 250px;
  width: 100%;
}

/*Product*/
#product{
  background-color: whitesmoke;
}
.carousel-item{
  size: 50%;
}

#product .card-title{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.5rem;
  padding-top: 30px;
}

.cover {
  object-fit: cover !important;  
}

/* Contact-us */
#contact-us{
  background-color: transparent;
  color: white;
}

#contact-us .card-deck{
  background-color: transparent !important;
  color: #2e3842;
}
#contact-us .fas,.fab{
  z-index: 9999;
  padding: 0 5%;
}

#contact-us .fa-envelope{
  color: coral;
}

#contact-us .fa-phone-square-alt{
  color: #adcb00;
}

#contact-us .fa-linkedin{
  color: #153f66;
}


/* Footer*/
#footer{
  background-color: transparent;
  color: white;
}



@media (max-width: 992px){
  #third, #fourth{
    padding-top: 50px !important;
  }

  .navbar-brand {
    margin-left: 0;
  }

  .navbar-nav {
    margin-right: 10px;
  }

  #banner {
    height: 50vh;
    top: -90px;
  }
  
}